/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #A34313 0%, #903B12 100%),
        #9D4024,
        #D86E3A,
        radial-gradient(center 50% 50%, radius 100%, #D86E3A, #C54E2C);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#lion-default {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#5A61AF, #51536D),
        linear-gradient(#E4FBFF 0%,#CEE6FB 10%, #A5D3FB 50%, #88C6FB 51%, #D5FAFF 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242D35;
    -fx-font-size: 14px;
}
#ipad-dark-grey {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020B02, #3A3A3A),
        linear-gradient(#9D9E9D 0%, #6B6A6B 20%, #343534 80%, #242424 100%),
        linear-gradient(#8A8A8A 0%, #6B6A6B 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2A2B2A 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}